<div class="hero span6 offset1">
<h3 class="alert alert-warning">Add contact</h3>

<form class="form-horizontal" name="contact_create">
	<div class="control-group">
		<label class="control-label">Name</label>
		<div class="controls">
			<input id="name" name="name" required="" type="text" ng-model="contact.name">
		</div>
	</div>


	<div class="control-group">
		<label class="control-label">Email Id</label>
		<div class="controls">
			<input id="email" name="email" required="" type="email" ng-model="contact.email">
		</div>
	</div>	
	
	<div class="control-group">
		<label class="control-label">Phone</label>
		<div class="controls">
			<input id="phone" name="phone" required="" type="text" ng-model="contact.phone">
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button id="submit" name="submit" ng-click="create()" class="btn btn-success btn-large">Create</button>
		</div>
	</div>		

</form>
</div>